.feature_card{
    .feature_icon{
        background-color: $primary;
        border-radius:50%;
        height:70px;
        width: 70px;
        color: $white;
        font-size: 50px;
        padding: 0px 10px;
        
    }
}